.custom-datepicker3 {
    border: 1px solid #2DDC1B;
    padding: 5px;
    border-radius: 5px;
    outline: #2DDC1B;
    width: 160px;
    height: 38px;
  }
  .custom-datepicker-update{
    border: 1px solid #2DDC1B;
    padding: 8px;
    border-radius: 5px;
    outline: #2DDC1B;
    width:250px;
  }
.custom-calendar3 .react-datepicker__current-month,
.custom-calendar3 .react-datepicker__day,
.custom-calendar3 .react-datepicker__day-name,
.custom-calendar3 .react-datepicker__time-container {
  font-size: 14px; /* Desired text size */
}

.custom-calendar3 .react-datepicker__header {
  font-size: 18px; /* Change the header text size */
}

.custom-calendar3 .react-datepicker__day--selected,
.custom-calendar3 .react-datepicker__day--keyboard-selected {
  font-size: 14px; /* Change the selected day text size */
}
  .custom-calendar3 {
    background-color: #B8FEB3;
    width: 250px;
  }
  .custom-calendar3 .react-datepicker__month-container {
    width: 100%; /* Ensure the month container takes the full width */

  }
  .custom-calendar3 .react-datepicker__header {
    width: 100%;
  }
  
  .custom-calendar3 .react-datepicker__day,
.custom-calendar3 .react-datepicker__day-name {
  width: 13.28%; /* Each day takes 1/7th of the width */
  display: inline-block;
  text-align: center;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  white-space: nowrap; /* Prevent text from wrapping */
}

.podata-main-view {
  overflow-y: auto;
}

@media (min-width: 333px) and (max-width: 577px) {
  .podata-main-view {
    height: calc(50vh - 120px); 
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .podata-main-view {
    height: calc(73vh - 120px); 
  }
}

@media (min-width: 769px) {
  .podata-main-view {
    height: calc(30vh - 120px) !important; /* Default height for large screens */
  }
  
}
@media (min-width: 992px) {
  .podata-main-view {
    height: calc(42vh - 120px) !important; /* Default height for large screens */
  }
  
}
@media (min-width: 1024px) {
  .podata-main-view {
    height: calc(60vh - 120px) !important; 
  }
}