.nav-item{
    padding-left: 15px;
    padding-right: 15px;

}

.nav-item:not(:first-child):hover{
    background-color: #AFF0DE;
    border-radius: 15px;
}
.nav-link{
    font-size: 13px;
    font-weight: 900;
   text-decoration: none !important;
   padding: 8px !important;
}
.nav-button-active{
    background: #0a203f;
    border:none;
    color: white;
    border-radius: 15px;
}
.nav-button-active a{
    color: white !important;
}
.nav-button-active:hover{
    color: white;
}
.cardbox{
    padding:  10px 10px 6px 14px;
}
.table-head-summary p{
    color: #313541;
    font-size: 16px;
    letter-spacing: .5px;
}
.table-head-icon{
    font-size: 24px;
    color:#2DDC1B
}
.action-icon{
    font-size: 16px;
}
.btn-download{
    background-color:#2DDC1B;
    color:black !important
} 
.btn-download.active{
    background-color:#2DDC1B;
    color:black !important
}
.btn-download:hover{
    background-color:#2DDC1B;
    color:black !important
}
.main-table-view {
    overflow-y: auto;
  }
  
  @media (min-width: 333px) and (max-width: 577px) {
    .main-table-view {
      height: calc(50vh - 120px); 
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .main-table-view {
      height: calc(60vh - 120px); 
    }
  }
  
  @media (min-width: 769px) {
    .main-table-view {
      height: calc(60vh - 120px) !important; /* Default height for large screens */
    }
    .w-lg-40 {
        width: 40%;
      }
  }
  @media (min-width: 992px) {
    .main-table-view {
      height: calc(70vh - 120px) !important; /* Default height for large screens */
    }
    
  }
  @media (min-width: 1024px) {
    .main-table-view {
      height: calc(70vh - 120px) !important; 
    }
  }