.form-check-input:checked {
  background-color: #28a745; /* Green for Active */
  border-color: #28a745;
}

.form-check-input:not(:checked) {
  background-color: lightgray; /* Red for Inactive */
  border-color: lightgray;
}

.form-check-label {
  font-weight: bold;
  margin-left: 10px;
  color: #333;
}
.section-width {
  width: 75%;
}
.raw-submit-button {
  background-color: #2ddc1b;
  color: white;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  width: 20%;
}
@media (max-width: 568px) {
  /* md */
  .section-width {
    width: 100%;
  }
  .raw-submit-button{
    width: 80%;
  }
}
