.p-menubar.p-component{
    /* background-color: #F6EEC9 !important; */
    background-color: #2DDC1B !important;
    border-bottom: none !important;
    margin-left: 10px;
    border-radius: 10px;
    
}
.p-menubar-root-list{
    margin-top: 2px;
    height: 25px;
    margin-right: 15px;
}
.p-submenu-list{
     background-color: rgb(54, 239, 41);
    border-radius: 10px;
     padding: 5px;
     margin-left: 6px; 
     margin-top: 7px;
     border:1px solid #1EDFBD
}
.p-submenu-list li{
    margin-left: 0px !important;
}
.p-menuitem-content a{
    text-decoration: none;
    color:#23302C;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: bold;  
}
.p-menuitem-content a:hover{
    color: #23302C;
    background-color: #2DDC1B;
    border-radius: 10px;
}

@media only screen and (max-width: 575px){
    /* .p-menubar-root-list{
        display:block !important
    } */
    .p-submenu-list{
        background-color: #2DDC1B;
        border-radius: 10px;
        padding: 2px;
        margin-left: 4px ; 
        margin-top: 8px;
        border:1px solid black;
        /* display:inline-block !important */
    }
   .p-submenu-list li{
        list-style: none !important;
    }
    .p-menuitem-content a{
        font-size: 12px;
        padding: 6px;
    }
}