.input-design{
  border: 1px solid #2DDC1B;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  height: 38px;
  text-align: center;
}
.input-design-material-used{
  border: 1px solid #2DDC1B;
  padding: 5px;
  border-radius: 5px;
  height: 38px;
  text-align: center;
}