.podata-main-view {
  overflow-y: auto;
}
@media (min-width: 333px) and (max-width: 577px) {
  .podata-main-view  {
    height: calc(30vh - 120px); /* Smaller height for small screens */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .podata-main-view  {
    height: calc(35vh - 120px)!important; /* Medium height for medium screens */
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .podata-main-view  {
    height: calc(36vh - 120px) !important; /* Default height for large screens */
  }
}

@media (min-width: 1024px) and (max-width: 1366px){
  .podata-main-view  {
    height: calc(50vh - 120px) !important; 
  }
}

@media (min-width: 1367px) {
  .podata-main-view  {
    height: calc(60vh - 120px) !important; /* Default height for large screens */
  }
}