.cftdata-main-view {
    overflow-y: auto;
  }
  
  @media (min-width: 333px) and (max-width: 577px) {
    .cftdata-main-view {
      height: calc(50vh - 120px); 
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .cftdata-main-view {
      height: calc(7vh - 120px); 
    }
  }
  
  @media (min-width: 769px) {
    .cftdata-main-view {
      height: calc(75vh - 120px) !important; /* Default height for large screens */
    }
    
  }
  @media (min-width: 992px) {
    .cftdata-main-view {
      height: calc(75vh - 120px) !important; /* Default height for large screens */
    }
    
  }
  @media (min-width: 1024px) {
    .cftdata-main-view {
      height: calc(80vh - 120px) !important; 
    }
  }