.custom-modal-previous-payment .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%; 
    width: 90%; 
    height: 100%; 
    padding-top: 150px; 
  }
  
  .custom-modal-previous-payment .modal-content {
    width: 100%; 
    height: 100%; 
    overflow: auto;
  }
  .custom-datepicker-payment-receive {
    border: 1px solid #2DDC1B;
    padding: 5px;
    border-radius: 5px;
    outline: #2DDC1B;
  }
  .custom-datepicker-update-payment-receive {
    border: 1px solid #2DDC1B;
    padding: 8px;
    border-radius: 5px;
    outline: #2DDC1B;
    width:200px;
  }
.custom-calendar .react-datepicker__current-month,
.custom-calendar .react-datepicker__day,
.custom-calendar .react-datepicker__day-name,
.custom-calendar .react-datepicker__time-container {
  font-size: 14px; /* Desired text size */
}

.custom-calendar .react-datepicker__header {
  font-size: 14px; /* Change the header text size */
}

.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--keyboard-selected {
  font-size: 14px; /* Change the selected day text size */
}
  .custom-calendar {
    background-color: #B8FEB3;
    width: 240px;
  }
  .custom-calendar .react-datepicker__month-container {
    width: 100%; /* Ensure the month container takes the full width */

  }
  .custom-calendar .react-datepicker__header {
    width: 100%;
  }
  
  .custom-calendar .react-datepicker__day,
.custom-calendar .react-datepicker__day-name {
  width: 13.28%; /* Each day takes 1/7th of the width */
  display: inline-block;
  text-align: center;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  white-space: nowrap; /* Prevent text from wrapping */
}
